.postList {
    display: block;
    list-style: none;
    padding: 0;

    & article.post+article.post {
        margin-top: var(--row-gap-xsmall);
    }

    & li.post+li.post {
        margin-top: var(--row-gap-small);
    }

    & .post-header {
        margin-bottom: var(--row-gap-xsmall);
    }

    & .post-details {
        font: var(--font-small);
    }

    & .post-title {
        font: var(--font-title);
        letter-spacing: var(--font-title-spacing);
        display: block;

        & a {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-decoration-color: #aaa;
            color: #000000;
            font-size: 0.55em;
            font-weight: normal;
        }

        & a:hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            color: #000000;
            text-decoration-color: #000000;
        }
    }
}

.post-date {
    font-size: 0.5em;
    font-weight: 400;
    color: #888;
}

.postList h2 {
    margin-bottom: 0;
}

.postList h2+article,
.postList h2+.post {
    margin-top: 0 !important;
}