@import "https://unpkg.com/@lumeland/ds@0.5.2/ds.css";

@import "css/navbar.css";
@import "css/page.css";
@import "css/post-list.css";
@import "css/post.css";

:root {
  --color-link: var(--color-base);
  --color-link-hover: var(--color-dim);
}

html,
body {
  background-color: #f0fff4;
}

main {
  padding: var(--row-gap-medium) 0;
  max-width: min(100% - 15vw, 45em);
  margin: 0 auto;

  &> :first-child {
    margin-top: 0;
  }
}

.search {
  margin-top: var(--row-gap-xsmall);
}

.year-block {
  margin-top: 2rem;
}

.year-block:first-child {
  margin-top: 0;
}

.year-posts {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  gap: 0 !important;
}

.year-posts .post,
.year-posts article,
.year-posts .post-header,
.year-posts .post-title {
  margin: 0 !important;
  padding: 0 !important;
}

.year-posts .post+.post,
.year-posts article+article {
  margin-top: 0.1rem !important;
}

.navbar-links a {
  text-decoration: none;
  color: inherit;
}