@import "https://unpkg.com/@lumeland/ds@0.5.2/ds.css";

@import "css/navbar.css";
@import "css/page.css";
@import "css/post-list.css";
@import "css/post.css";

:root {
  --color-link: var(--color-base);
  --color-link-hover: var(--color-dim);
  --font-body: "PT Serif", serif !important;
}

/* google-fonts */

html,
body {
  background-color: #ffff !important;
  font-weight: 400;
  font-family: "PT Serif", serif;
  font-size: 19px;
  line-height: 1.65;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #111;
}

main {
  padding: var(--row-gap-medium) 0;
  max-width: min(100% - 15vw, 45em);
  margin: 0 auto;

  &> :first-child {
    margin-top: 0;
  }
}

.search {
  margin-top: var(--row-gap-xsmall);
}

.year-block {
  margin-top: 2rem;
}

.year-block:first-child {
  margin-top: 0;
}

.year-posts {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  gap: 0 !important;
}

.year-posts .post,
.year-posts article,
.year-posts .post-header,
.year-posts .post-title {
  margin: 0 !important;
  padding: 0 !important;
}

.year-posts .post+.post,
.year-posts article+article {
  margin-top: 0.1rem !important;
}

.navbar-links a {
  text-decoration: none;
  color: inherit;
}

.navbar-home {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.year-title {
  font-family: header;
}

.year-posts .post-title {
  font-family: menu;
}

.body-post .post-title {
  font-family: "PT Serif", serif !important;
}